# Python virtual environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Scrapy project files
.scrapy/

# macOS files
.DS_Store

# Editor specific
.vscode/
*.swp
*~